<!DOCTYPE html>
<html>
  <head>
    <title>ORCID Feed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- Adobe Web Fonts -->
    <script src="//use.edgefonts.net/source-sans-pro:n3,i3,n4,i4,n6,i6;rosario.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="content">
        <div class="page-header">
        <h1>ORCID Feed</h1>
      </div>
      <div class="markdown">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
